<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <title>博客管理</title>
</head>
<body>
<!--导航-->
    <!--m 自定义 间距 上下 -->
    <nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">管理后台</h2>
                <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>新闻</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="target icon"></i>话题</a>

                <div class="right m-item m-mobile-hide menu">

                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="http://lorempixel.com/100/100/" alt="" class="ui avatar image">
                            soreaK
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--menu toggle 用于jQuery选择-->
        <!--加了menu 使得按钮会在导航栏水平居中位置-->
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>

    </nav>



<!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
        <!--container 响应移动端-->
        <div class="ui container">
            <div class="ui secondary form segment">

                <!--默认是占满宽度，inline 就缩小宽度-->
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="标题">
                    </div>

                    <div class="field">
                        <div class="ui labeled action input">
                            <div class="ui type selection dropdown">
                                <input type="hidden" name="tagId">
                                <i class="dropdown icon"></i>
                                <div class="default text">标签</div>
                                <div class="menu">
                                    <!--data-value="1" 为传入后端的值-->
                                    <div th:each="tag : ${tags}" class="item" data-value="1" th:data-value="${tag.id}" th:text="${tag.name}">开发者手册</div>

                                </div>
                            </div>
                        </div>
                        <button class="ui compact button">clear</button>
                    </div>

                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend">
                            <!--关联上面recommend 的 id-->
                            <label for="recommend">推荐</label>
                        </div>
                    </div>

                    <div class="field">
                        <button type="button" id="search-btn" class="ui mini teal basic button"> <i class="search icon"></i>搜索</button>
                    </div>

                </div>
            </div>
            <div id="table-container">
                <table th:fragment="blogList" class="ui compact table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>标题</th>
                        <th>开启评论</th>
                        <th>推荐</th>
                        <th>状态</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="blog : ${blogs}">
                        <td th:text="${blog.id}">1</td>
                        <td th:text="${blog.title}">可以练习</td>
                        <td th:text="${blog.commentabled} ? '是':'否'">是</td>
                        <td th:text="${blog.recommend} ? '是':'否'">是</td>
                        <td th:text="${blog.published} ? '发布':'草稿'">发布</td>
                        <td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-08-12 09:45</td>
                        <td>
                            <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui mini teal basic button">编辑</a>
                            <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui mini red basic button">删除</a>
                        </td>

                    </tr>
                    </tbody>
                </table>

                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="header">提示：</div>
                    <p th:text="${message}">操作成功!</p>
                </div>
            </div>
            <!--celled网格线-->



        </div>
    </div>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        /*toggleClass 有则去除没有则加上*/
        $('.m-item').toggleClass('m-mobile-hide')
    });

    $('.ui.dropdown').dropdown({
        on:'hover'
    });


    $("#search-btn").click(function () {
        $('[name="page"]').val(0);
        loaddata();
    });

    $('.compact.button')
        .on('click',function () {
            $(' .ui.type.dropdown')
                .dropdown('clear')
    })

    $('.message .close').on('click',function(){
        $(this).closest('.message').transition('fade');
    })

    function loaddata() {
        $('#table-container').load(/*[[@{/amdin/blogs/search}]]*/"/admin/blogs/search",{
            title : $("[name='title']").val(),
            tagId : $("[name='tagId']").val(),
            recommend : $("[name='recommend']").prop('checked'),
        });
    }
</script>
</body>
</html>