<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <title>登录</title>
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<body>
    <div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
        <div class="ui container">
            <div class="ui middle aligned center aligned grid">
                <div class="column">
                    <h2 class="ui teal image header">
                        <div class="content">
                            账号登录
                        </div>
                    </h2>
                    <form class="ui large form" method="post" action="#" th:action="@{/login}">
                        <div class="ui stacked segment">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="username" id="username" placeholder="用户名">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" id="password" placeholder="密码">
                                </div>
                            </div>
                            <button type="button" class="ui large teal submit button m-padded-lr-response">登     录</button>
                            <a href="#" th:href="@{/registered}"><button type="button" class="ui large teal button m-padded-lr-response">注册</button></a>
                        </div>
                        <div class="ui mini message">
                            忘记密码？试试<a href="#" id="resetPassword">找回密码</a>
                        </div>
                        <div class="ui error mini message">
                        </div>
                        <div class="ui mini negative message" th:if="${param.error}" >
                            <span th:if="${session?.SPRING_SECURITY_LAST_EXCEPTION?.message} eq 'Bad credentials'">账号密码错误</span>
                            <span th:unless="${session?.SPRING_SECURITY_LAST_EXCEPTION?.message} eq 'Bad credentials'" th:text="${session?.SPRING_SECURITY_LAST_EXCEPTION?.message}">账号密码错误</span>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    </div>
    <!--ui model-->
    <div class="ui tiny modal">
        <input type="hidden" name="idBlog" th:value="${blog.id}">
        <input type="hidden" name="commentId" th:value="-1">
        <div class="header">重置密码</div>
        <div class="content">
            <div class="ui left icon input fluid">
                <i class="phone icon"></i>
                <input type="tel" name="phone" id="phone" placeholder="手机号">
                        &nbsp;
                <button class="ui right button" id="codeBtn">获取验证码</button>
            </div>
            <div class="ui left icon input fluid m-margin-top">
                <i class="envelope outline icon"></i>
                <input name="code" id="code" placeholder="验证码">
            </div>
            <div class="ui left icon input fluid m-margin-top">
                <i class="lock icon"></i>
                <input type="password" name="resetPwd" id="resetPwd" placeholder="请输入新密码">
            </div>

        </div>
        <div class="actions">
            <div class="ui cancel button">取消</div>
            <div class="ui green button" onclick="deleteComment()">确认修改</div>
        </div>
    </div>

    <!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->
    <script>
        $('.ui.form').form({
            fields : {
                username : {
                    identifier : 'username',
                    rules : [{
                        /*非空校验*/
                        type : 'empty',
                        prompt : '请输入用户名'

                    }]
                },

                password : {
                    identifier : 'password',
                    rules : [{
                        /*非空校验*/
                        type : 'empty',
                        prompt : '请输入密码'

                    }]
                }
            }
        });

        $('#resetPassword').click(function () {
            $('.ui.tiny.modal')
                .modal('show')
            ;
        })
        /**
         * 手机号校验
         * @param data
         */
        function checkPhone(phoneNum) {
            $.ajax({
                type: "POST",
                url: "phoneCheck",
                // contentType: "application/x-www-form-urlencoded",
                data: {
                    phone: phoneNum,
                },
                success: function (data) {
                    //放入数据
                    console.log(data);
                    if (data.status == 200) {
                        $.ajax({
                            type: "POST",
                            url: "getCode",
                            // contentType: "application/x-www-form-urlencoded",
                            data: {
                                phone: phoneNum,
                            },
                            success: function (data) {
                                console.log(data);
                                //放入数据
                                if (data.status == 200) {
                                    alert("手机验证码发送成功！");
                                    codeBtn.attr("disabled", true);
                                    timeCount();
                                } else {
                                    alert("手机验证码发送失败，请重新发送！");
                                    codeBtn.attr("disabled", false);
                                }
                            },
                            error: function (res) {
                                alert("客官，慢点按(⊙o⊙)？");
                                codeBtn.attr("disabled", false);
                            }
                        });
                        return
                    }
                    alert("手机号码已注册");
                    codeBtn.attr("disabled", false);
                },
                error: function (res) {
                    alert("客官，慢点按(⊙o⊙)？");

                }
            });

        }



        var phone = $("#phone");
        /**
         * 点击获取验证码
         */

        var codeBtn = $("#codeBtn");
        var my_interval;
        my_interval = 60;
        var timeLeft = my_interval;
        //重新发送计时函数
        var timeCount = function () {
            window.setTimeout(function () {
                if (timeLeft > 0) {
                    timeLeft -= 1;
                    codeBtn.html(timeLeft + "秒重新发送");
                    codeBtn.attr('disabled', true);
                    timeCount();
                } else {
                    codeBtn.html("重新发送");
                    timeLeft = 60;
                    codeBtn.attr('disabled', false);
                }
            }, 1000);
        };

        var myreg = /^1[3-578]\d{9}$/;

        /**
         * 验证码获取
         */
        codeBtn.click(async function () {
            codeBtn.attr("disabled", true);
            var phone1 = phone.val().trim();
            if (phone1.length == 0 || phone1.length != 11 ||!myreg.test(phone1) ) {
                alert("手机号码有误");
                codeBtn.attr("disabled", false);
                return
            }
            await checkPhone(phone1)
        });




        function sub() {
            $.ajax({
                type: "POST",
                url: "registered",
                // contentType: "application/x-www-form-urlencoded",
                data: {
                    phone: $("#phone").val(),
                    username: $("#username").val(),
                    password: $("#password").val(),
                    code: $("#code").val()
                },
                success: function (data) {
                    //放入数据
                    console.log(data);
                    if (data.status == 200) {
                        alert("注册成功")
                        window.location.href = "login";
                    }else {
                        alert(data.message);
                    }
                },

            });
        }

    </script>
</body>



</html>