<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <title>MY</title>
</head>
<body>
<!--导航-->
    <!--m 自定义 间距 上下 -->
    <nav th:replace="_fragments :: menu(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">WeBlog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="newspaper icon"></i>新闻</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="bullhorn icon"></i>话题</a>
                <a href="#" class="m-item active item m-mobile-hide"><i class="info icon"></i>MY</a>

                <div class="right item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>



                <div class="ui item" sec:authorize="!isAuthenticated()">
                    <span style="display: none" name="phone" ></span>
                    <a href="#" class="ui teal button" th:href="@{/login}">登录</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="#" class="ui teal button" th:href="@{/registered}">注册</a>
                </div>


                <div class="ui dropdown item" sec:authorize="isAuthenticated()">

                    <div class="text">
                        <span th:text="${user.nickname}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">个人信息</a>
                        <a href="#" class="item">发表</a>
                        <a href="#" class="item">注销</a>
                    </div>
                </div>


            </div>
        </div>
        <!--menu toggle 用于jQuery选择-->
        <!--加了menu 使得按钮会在导航栏水平居中位置-->
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>

    </nav>
<!--中间内容-->
    <div class="m-container m-padded-tb-big">
        <!--semantic 容器 有响应式效果-->
        <div class="ui container">

            <div class="ui stackable grid">
                <!--左侧 文章列表-->
                <div class="eleven wide column">
                    <!--header-->
                    <div class="ui top attached segment">
                        <!--middle aligned 水平居中-->
                        <div class="ui middle aligned two column grid">
                             <div class="column">
                                 <!--teal 青绿色-->
                                 <div class="ui title teal header">我的博客</div>
                             </div>

                        </div>
                    </div>

                    <!--content-->
                    <table id="blogList" class="ui compact table">
                        <thead>
                            <tr>
                                <th>标题</th>
                                <th>推荐</th>
                                <th>状态</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="blog : ${blogs}">
                                <td><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">文章标题</a></td>
                                <td th:text="${blog.recommend} ? '是':'否'">是</td>
                                <td th:text="${blog.published} ? '发布':'草稿'">是</td>
                                <td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2020-08-12 09:45</td>
                                <td>
                                    <a href="#" th:href="@{/blog/{id}/input(id=${blog.id})}" class="ui mini teal basic button">编辑</a>
                                    <a href="#" th:href="@{/blog/{id}/delete(id=${blog.id})}" class="ui mini red basic button">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table id="topicList" class="ui compact table" style="display: none">
                        <thead>
                            <tr>
                                <th>标题</th>
                                <th>状态</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="topic : ${topics}">
                                <td><a href="#" th:href="@{/topic/{id}(id=${topic.id})}" target="_blank" class="m-black" th:text="${topic.title}">文章标题</a></td>
                                <td th:text="${topic.published} eq 1 ? '发布':(${topic.published} eq 0 ? '待审核':'审核不通过')">发布</td>
                                <td th:text="${#dates.format(topic.updateTime,'yyyy-MM-dd HH:mm')}">2020-08-12 09:45</td>
                                <td>
                                    <a href="#" th:onclick="|showTopic(${topic.id})|" class="ui mini teal basic button">编辑</a>
                                    <a href="#" th:href="@{/topic/{id}/delete(id=${topic.id})}" class="ui mini red basic button">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>



                    <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                        <i class="close icon"></i>
                        <div class="header">提示：</div>
                        <p th:text="${message}">操作成功!</p>
                    </div>
                </div>
                <!--右侧 top-->
                <div class="five wide column">
                    <div class="ui vertical buttons">
                        <button class="ui red basic button" onclick="blog()">博客</button>
                        <button class="ui blue basic button" onclick="topic()">话题</button>
                    </div>
                </div>
            </div>


            <div class="ui modal">
                <div class="header">
                    发布
                </div>
                <div class="content">
                    <div class="ui form">
                        <div class="field">
                            <input type="hidden" id="Id">
                            <label>标题</label>
                            <input class="ui dividing header" id="title"  >
                        </div>
                        <div class="field m-margin-top">
                            <label>内容</label>
                            <textarea id="content"></textarea>
                        </div>
                        <div class="ui field">
                            <div class="ui grid">
                                <div class="ui eight wide column">
                                    <div class="ui left labeled action input">
                                        <label  class="ui compact teal basic label">标签</label>
                                        <!--multiple多选  search可搜索-->
                                        <div class="ui tag fluid multiple search selection dropdown" >
                                            <input type="hidden" name="tagIds" id="tagIds">
                                            <div class="default text"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui cancel button">取消</div>
                    <div class="ui green button" onclick="editUser()">确认发布</div>
                </div>
            </div>
        </div>

    </div>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        /*toggleClass 有则去除没有则加上*/
        $('.m-item').toggleClass('m-mobile-hide')
    });
    $('.ui.dropdown').dropdown({
        on:'hover'
    });

    function blog(){
        $('#blogList').css("display","table");
        $('#topicList').css("display","none");
        $('.ui.title.teal.header').text("我的博客");
    }
    function topic(){
        $('#blogList').css("display","none");
        $('#topicList').css("display","table");
        $('.ui.title.teal.header').text("我的话题");
    }

    /*model弹出层 数据获取*/
    function showTopic(id) {
        console.log(id);
        $.ajax({
            type: "POST",
            url: "oneTopic",
            //contentType: "application/json",
            data: {
                id: id,
            },
            success: function (data) {
                console.log(data);
                $('#Id').val(data.topic.id);
                $('#title').val(data.topic.title);
                $('#content').val(data.topic.content);
                $('#tagIds').val(data.topic.tagIds);
                if (data.topic.tags.length >0){
                    $.each(data.topic.tags,function (index,item) {
                        $('.ui.tag.dropdown').prepend(
                            "<a class=\"ui label\" data-value=\"" + item.id
                            + "\">" + item.name+"<i class=\"delete icon\"></i>"
                            + "</a>")
                    });


                }

            },
        });
        /*弹出层消失的时候，清空标签*/
        $('.ui.modal').modal({
            onHide    : function(){
                $('.ui.tag.dropdown a').each(function (index,element) {
                    element.parentNode.removeChild(element);
                })
            },
        })
            .modal('show');
    }
    /*数据修改*/
    function editUser() {
        $.ajax({
            type: "POST",
            url: "editTopic",
            //contentType: "application/json",
            data: {
                id: $('#Id').val(),
                title: $('#title').val(),
                content: $('#content').val(),
                tagIds: $('#tagIds').val(),
            },
            success: function (data) {
                location.reload();

            },
            error: function (data) {
                alert("error");
            }
        });

    }



    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade')  //fade消失动画
            ;
        })
    ;
</script>
</body>
</html>