<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <title>注册</title>
</head>
<body>
    <div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
        <div class="ui container">
            <div class="ui middle aligned center aligned grid">
                <div class="column">
                    <h2 class="ui teal image header">
                        <div class="content">
                            账号注册
                        </div>
                    </h2>
                    <div class="ui large form">
                        <div class="ui stacked segment">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="username" id="username" placeholder="用户名">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" id="password" placeholder="密码">
                                </div>
                            </div>
                            <div class="field check">
                                <div class="ui left icon input">
                                    <i class="book icon"></i>
                                    <input type="text"  name="checkPwd" id="checkPwd" placeholder="确认密码">
                                </div>
                                <span id="remind" style="color: red"></span>
                            </div>

                            <div class="field">
                                    <div class="ui left icon input">
                                        <i class="phone icon"></i>
                                        <input type="tel" name="phone" id="phone" placeholder="手机号">
                                        &nbsp;
                                        <button class="ui right button" id="codeBtn">获取验证码</button>
                                    </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="envelope outline icon"></i>
                                    <input name="code" id="code" placeholder="验证码">
                                </div>
                            </div>
                            <button class="ui fluid large teal submit button" onclick="sub()">注册</button>
                            <div class="field m-margin-top">
                                已有账号？不妨试试 <a href="#" th:href="@{/login}">登录</a> </div>
                        </div>

                        <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}}">验证码错误</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->
    <script>
        $('.ui.form').form({
            fields : {
                username : {
                    identifier : 'username',
                    rules : [{
                        /*非空校验*/
                        type : 'empty',
                        prompt : '请输入用户名'
                                }]
                            },

                password : {
                    identifier : 'password',
                    rules : [{
                        /*非空校验*/
                        type : 'empty',
                        prompt : '请输入密码'
                                },
                        {
                            type   : 'minLength[6]',
                            prompt : '密码不少于6位'
                        }
                    ]
                },
                phone : {
                    identifier : 'phone',
                    rules:  [
                        {
                            type: 'number',
                            prompt: "手机号码只允许数字"
                        },
                        {
                            type: 'exactLength[11]',
                            prompt: "手机号码长度不正确"
                        }
                    ]
                }
            }
        });

        document.getElementById("checkPwd").addEventListener("focus", checkPwd);
        document.getElementById("checkPwd").addEventListener("blur", checkPwd);
        function checkPwd(){
            if(!$("#checkPwd").val()){
                $('.field.check').addClass("error");
                $("#remind").text("请输入确认密码").show();
            } else if($("#password").val() != $("#checkPwd").val()){
                $('.field.check').addClass("error");
                $("#remind").text("两次密码输入不一致").show();
            } else {
                $('.field.check').removeClass("error");
                $("#remind").text("").show();
            }
        }



        /**
         * 手机号校验
         * @param data
         */
        function checkPhone(phoneNum) {
            $.ajax({
                type: "POST",
                url: "phoneCheck",
                // contentType: "application/x-www-form-urlencoded",
                data: {
                    phone: phoneNum,
                },
                success: function (data) {
                    //放入数据
                    console.log(data);
                    if (data.status == 200) {
                        $.ajax({
                            type: "POST",
                            url: "getCode",
                            // contentType: "application/x-www-form-urlencoded",
                            data: {
                                phone: phoneNum,
                            },
                            success: function (data) {
                                console.log(data);
                                //放入数据
                                if (data.status == 200) {
                                    alert("手机验证码发送成功！");
                                    codeBtn.attr("disabled", true);
                                    timeCount();
                                } else {
                                    alert("手机验证码发送失败，请重新发送！");
                                    codeBtn.attr("disabled", false);
                                }
                            },
                            error: function (res) {
                                alert("客官，慢点按(⊙o⊙)？");
                                codeBtn.attr("disabled", false);
                            }
                        });
                        return
                    }
                    alert("手机号码已注册");
                    codeBtn.attr("disabled", false);
                },
                error: function (res) {
                    alert("客官，慢点按(⊙o⊙)？");

                }
            });

        }



        var phone = $("#phone");
        /**
         * 点击获取验证码
         */

        var codeBtn = $("#codeBtn");
        var my_interval;
        my_interval = 60;
        var timeLeft = my_interval;
        //重新发送计时函数
        var timeCount = function () {
            window.setTimeout(function () {
                if (timeLeft > 0) {
                    timeLeft -= 1;
                    codeBtn.html(timeLeft + "秒重新发送");
                    codeBtn.attr('disabled', true);
                    timeCount();
                } else {
                    codeBtn.html("重新发送");
                    timeLeft = 60;
                    codeBtn.attr('disabled', false);
                }
            }, 1000);
        };

        var myreg = /^1[3-578]\d{9}$/;

        /**
         * 验证码获取
         */
        codeBtn.click(async function () {
            codeBtn.attr("disabled", true);
            var phone1 = phone.val().trim();
            if (phone1.length == 0 || phone1.length != 11 ||!myreg.test(phone1) ) {
                alert("手机号码有误");
                codeBtn.attr("disabled", false);
                return
            }
            await checkPhone(phone1)
        });




        function sub() {
            if(!$("#checkPwd").val()){
                $('.field.check').addClass("error");
                $("#remind").text("请输入确认密码").show();
                alert("信息有误");
            } else if($("#password").val() != $("#checkPwd").val()){
                $('.field.check').addClass("error");
                $("#remind").text("两次密码输入不一致").show();
                alert("两次密码输入不一致");
            } else {
                $('.field.check').removeClass("error");
                $("#remind").text("").show();
                $.ajax({
                    type: "POST",
                    url: "registered",
                    // contentType: "application/x-www-form-urlencoded",
                    data: {
                        phone: $("#phone").val(),
                        username: $("#username").val(),
                        password: $("#password").val(),
                        code: $("#code").val()
                    },
                    success: function (data) {
                        //放入数据
                        console.log(data);
                        if (data.status == 200) {
                            alert("注册成功")
                            window.location.href = "login";
                        }else {
                            alert(data.message);
                        }
                    },
                });
            }
        }

    </script>
</body>
</html>