<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0,multipart/form-data,">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <title>个人信息</title>
</head>
<body>
<!--导航-->
    <!--m 自定义 间距 上下 -->
    <nav th:replace="_fragments :: menu(-1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">WeBlog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="newspaper icon"></i>新闻</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="bullhorn icon"></i>话题</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>MY</a>

                <div class="right item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <!--menu toggle 用于jQuery选择-->
        <!--加了menu 使得按钮会在导航栏水平居中位置-->
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>

    </nav>
<!--中间内容-->
    <div class="m-container m-padded-tb-big">
        <!--container 响应移动端-->
        <div class="ui container">
            <div class="ui stackable grid">

                <div class="three wide column">

                        <div class="ui top attached segment" style="text-align: center">
                            <a href="#" class="ui middle aligned github circular icon button"><i class="github icon"></i></a>
                            <div class="m-margin-top" style="display: none" id="github" th:text="${user.git}">soreak</div>
                        </div>



                        <div class="ui attached segment" style="text-align: center">
                            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                            <div class="m-margin-top" style="display: none" id="wechat" th:text="${user.wechat}">sorea1k</div>
                        </div>


                        <div class="ui attached segment" style="text-align: center">
                            <a href="#" class="ui qq circular icon button" ><i class="qq icon"></i></a>
                            <div class="m-margin-top" style="display: none" id="qq" th:text="${user.qq}">1498985670</div>
                        </div>


                        <div class="ui bottom attached segment" style="text-align: center">
                            <a href="#" class="ui email circular icon button"><i class="envelope icon"></i></a>
                            <div class="m-margin-top" style="display: none" id="email" th:text="${user.email}">1498985670@qq.com</div>
                        </div>

                </div>

                <div class="nine wide column">
                    <div class="segments">
                        <div class="ui top attached segment">
                            <div class="ui grid">
                                <div class="twelve wide column">
                                    <div class="ui header" th:text="${user.nickname}">soreak</div>
                                    <div th:text="|uid:${user.id}|">uid:123</div>
                                </div>
                                <div class="four wide column">
                                    <a th:if="${#strings.isEmpty(self)}" type="button" class="ui toggle button" style="float: right;">关注</a>
                                </div>
                            </div>

                        </div>
                        <div class="ui attached segment">
                            <p class="ui teal m-text-thin" th:text="${user.information}">个人介绍</p>

                        </div>

                        <div class="ui attached segment">
                            <p class="m-text-thin" th:text="|注册时间：${#dates.format(user.createTime,'yyyy-MM-dd')}|"></p>
                        </div>
                        <div class="m-margin-top"  >

                                <div class="ui compact menu">
                                    <a class="item" th:href="@{/userLike/like/{id}(id=${user.id})}">关注 <div class="floating ui red label" th:text="${like}">22</div>
                                    </a>
                                    <a class="item" th:href="@{/userLike/fan/{id}(id=${user.id})}">粉丝 <div class="floating ui teal label" th:text="${fan}">22</div>
                                    </a>

                                </div>

                                <a th:unless="${#strings.isEmpty(self)}" type="button" id="save-btn" class="ui teal button" style="float: right;" th:href="@{/editInfo}">修改个人信息</a>

                        </div>

                    </div>
                </div>


                <div class="four wide column">
                    <div class="ui segment">
                        <img src="http://lorempixel.com/800/600/" alt="" class="ui rounded image" th:src="${user.avatar}">
                    </div>

                </div>

            </div>
        </div>
    </div>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        /*toggleClass 有则去除没有则加上*/
        $('.m-item').toggleClass('m-mobile-hide')
    });

    $('.github.circular').hover(
        function(){

                $('#github').css("display","block");
        },function(){

                $('#github').css("display","none");
        }
    );
    $('.email.circular').hover(
            function(){

                    $('#email').css("display","block");
            },function(){

                    $('#email').css("display","none");
            }
        );
    $('.wechat.circular').hover(
            function(){

                    $('#wechat').css("display","block");
            },function(){

                    $('#wechat').css("display","none");
            }
        );
    $('.qq.circular').hover(
            function(){

                    $('#qq').css("display","block");
            },function(){

                    $('#qq').css("display","none");
            }
        );





</script>
</body>
</html>